<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/medovichkovv.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/medovichkovv.css">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Recipe form</title>
</head>
<div>
    <input class="btn btn-primary btn-current-recipe" type="button" value="К рецепту...">
</div>
<body class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${recipeDto}" th:action="@{/recipe/}" method="post">
                <input id="recipe-id" type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{userId}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Рецепт</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Название</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Видимость</label>
                                    <select class="form-control" th:field="*{privacyType}">
                                        <option th:each="type : ${T(medovichkovvcalculationservice.enums.PrivacyType).values()}"
                                                th:value="${type}" th:text="${type.desc}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Любимый рецепт</label>
                                    <div>
                                        <input type="checkbox" th:field="*{favorite}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Количество коржей</label>
                                    <input type="number" class="form-control" th:field="*{cakes}"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Площадь, см2</label>
                                    <input type="number" step="0.01" class="form-control" th:field="*{square}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>